absl-py>=2.3.1
tensorflow-metadata>=1.12.0,<1.18
protobuf>=3.20,<4
apache-beam>=2.49,<2.51
grpcio-status>=1.73,<1.74
numpy<2
googleapis_common_protos>=1.68
google_cloud_vision>=3.9
google_cloud_videointelligence>=2.16
google_cloud_spanner>=3.55
google_cloud_resource_manager>=1.14
grpc_google_iam>=0.13.1
google_cloud_recommendations_ai>=0.10.15
google_cloud_pubsub>=2.31
google_cloud_language>=2.16
google_cloud_dlp>=3.29
google_cloud_datastore>=2.18
google_cloud_bigtable>=2.29
google_cloud_bigquery_storage>=2.32
google_api_core>=2.23